{% extends 'base.html' %} {% load cart %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
/>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/font-icons.css' %}" />

<link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'css/stylehome.css'%}" />
<!-- Responsive css -->
<link rel="stylesheet" href="{% static 'css/responsive.css'%}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>

<script src="{% static 'js/plugins.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/mainhome.js' %}"></script>

{% endblock %} {% block content %}

<div class="body-wrapper">
  <!-- SLIDER AREA START (slider-3) -->
  <div class="ltn__slider-area ltn__slider-3--- section-bg-1--- mt-30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div
            class="ltn__slide-active-2 slick-slide-arrow-1 slick-slide-dots-1 mb-30"
          >
            <!-- ltn__slide-item -->
            {% for a in banner %}
            <div
              class="ltn__slide-item ltn__slide-item-10 section-bg-1 bg-image"
              data-bs-bg="{{a.Image1.url}}"
            >
              {% endfor %}
              <div class="ltn__slide-item-inner">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 align-self-center">
                      <div class="slide-item-info"></div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
                      <div class="slide-item-img">
                        <!-- <a href="Store"><img src="img/product/1.png" alt="Image"></a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ltn__slide-item -->
            {% for a in banner %}
            <div
              class="ltn__slide-item ltn__slide-item-10 section-bg-1 bg-image"
              data-bs-bg="{{a.Image2.url}}"
            >
              {% endfor %}
              <div class="ltn__slide-item-inner">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 align-self-center">
                      <div class="slide-item-info"></div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
                      <div class="slide-item-img">
                        <!-- <a href="Store"><img src="img/slider/62.jpg" alt="Image"></a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="col-lg-12">
          {% for a in banner %}
          <div class="ltn__banner-item">
            <div class="ltn__banner-img">
              <a href="Store"
                ><img src="{{a.Image3.url}}" alt="Banner Image"
              /></a>
            </div>
          </div>
          <div class="ltn__banner-item">
            <div class="ltn__banner-img">
              <a href="Store"
                ><img src="{{a.Image4.url}}" alt="Banner Image"
              /></a>
            </div>
          </div>
          {% endfor %}
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <!-- SLIDER AREA END -->

  <!-- CATEGORY AREA START -->
  <div class="ltn__category-area section-bg-1-- pt-30 pb-50">
    <div class="container">
        <div class="row ltn__category-slider-active-six slick-arrow-1 border-bottom">
          {% for cats in cat %}
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="Store">
                           <img src="{{cats.image.url}}" alt="{{cats.name}}">
                        </a>
                    </div>
                    
                        <h6><a href="Store">{{cats.name}}</a></h6>
                  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

  <!-- BANNER AREA START -->
  <div class="ltn__banner-area mt-120---">
    <h1 class="section-title" style="text-align: center">How OrderforSure Works</h1>
    <div class="container">
      <div class="row ltn__custom-gutter--- justify-content-center">
        <div class="col-lg-4 col-sm-6">
          <div
            class="how-work-img wow fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay=".2s"
          >
            <span
              ><img
                alt="image"
                src="{%static 'img/how-work1.png'%}"
                class="work-img"
            /></span>
          </div>
            <h3>Register Yourself</h3>
            <p class="para">The OrderforSure bidding system is one of the most convenient online shopping tools that allows you to take a single step and achieve everything from finding the product to placing an order without leaving your home. You just need to register through our website and choose any product you want. Sign up with us today by visiting our orderforsure website</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div
            class="how-work-img wow fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay=".2s"
          >
            <span
              ><img
                alt="image"
                src="{%static 'img/how-work2.png'%}"
                class="work-img"
            /></span>
          </div>
            <h3>Select Item, Buy or Start Bid</h3>
            <p class="para">Need to select specific product from hundreds of products, place an order and post requirement for the same product. If you wish to buy something on your desired product and price range, with the help of OrderforSure bidding system , you can easily start a dispute to get your desired products at lower prices.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div
            class="how-work-img wow fadeInDown"
            data-wow-duration="1.5s"
            data-wow-delay=".2s"
          >
            <span
              ><img
                alt="image"
                src="{%static 'img/how-work3.png'%}"
                class="work-img"
            /></span>
          </div>
            <h3>Order Through Store or Bid</h3>
            <p class="para">A Buy on Bid system is an auction-style service that allows you to bid on items at auction. You make a market bid, which means the lowest possible price at which you are willing to buy the item. When an item is deemed sold, it will be removed from the site and delivered to your address.</p>
        </div>
      </div>
    </div>
  </div>


  <!-- BANNER AREA END -->

<hr>
<div class="ltn__category-area section-bg-1--">
  <div class="container">
      <div class="row ltn__category-slider-active-six slick-arrow-1 border-bottom">
        {% for bar in bar %}
        <div class="col-12">
          <div class="ltn__category-item ltn__category-item-6 text-center">
            {% if bar.image %}
            <div class="ltn__category-item-img">
              <img src="{{bar.image.url}}">
            </div>
            {% endif %}
            <div class="ltn__category-item-name">
                      <form action="Store" method="get">
                        <input type="submit" name="brand" value="{{bar.name}}" style="border:none;">
                    </form>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
                
              </div>
  </div>
</div>

  <!-- SMALL PRODUCT LIST AREA START -->
  <div class="ltn__small-product-list-area section-bg-1 pt-115 pb-90 mt-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title-area ltn__section-title-2 text-center">
            <h1 class="section-title">Featured Products</h1>
          </div>
        </div>
      </div>
      <div class="row">
        {% for product in product %}
        <div class="col-lg-4 col-md-6 col-12">
          <div class="ltn__small-product-item" style="height:180px;">
            {% if product.image1 %}
            <div class="small-product-item-img">
              <a href="vendor_product/{{product.slug}}"
                ><img src="{{product.image1.url}}" alt="Image"
              /></a>
            </div>
            {% else %}
            <div class="small-product-item-img">
              <a href="vendor_product/{{product.slug}}"
                ><img src="{% static 'img/image.jpg'%}" alt="Image"
              /></a>
            </div>
            {% endif %}
            <div class="small-product-item-info">
              <h2 class="product-title">
                <a href="vendor_product/{{product.slug}}">{{product.name}}</a>
              </h2>

              <div class="product-price">
                <span>₹{{product.price}}</span>
                <del>₹{{product.mrp}}</del>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% block js %} {% endblock js %}
{% endblock %}
